@media(max-width:767px){

    /*MAIN*/
    .main-imgs{
        margin-bottom: 20px;
        padding-left:105px;
    }

    /*Nesting*/
    .main-img-miniature{
        list-style: none;
        
        li{
            float: none;
            margin-bottom: 29px;
        }

        li + li{
            margin-bottom: 10px;
        }
    }

    .main-img-description-caribe{
        @include main-destinos;
        top:164px;  
    }
    
    .main-img-description-mexico{
        @include main-destinos;
        left:53px;
        top: 509px;
    }
    
    .main-img-description-cuba{
        @include main-destinos;
        top:805px;
    }
    
    
    .plus {
        @include mas-info;
        top: 220px;
        
    }
    
    .plus p {
        @include paragraph;
        
    }
    /* TEXTO DE LAS IMAGENES DE ABAJO*/
    .main-img-description-caribe-2{
        @include main-destinos;
        top:1054px;  
    }
    
    .main-img-description-mexico-2{
        @include main-destinos;
        top: 1399px;
    }
    
    .main-img-description-cuba-2{
        @include main-destinos;
        top: 1695px;
    }
    
    .plus-2 {
        @include mas-info;
        top: 1110px;
    }
    
    .plus-2 p {
        @include paragraph;
        
    }
    /*CONTACT*/
    .contact-icon{
        float: none;
        padding-top: 24px;
        padding-left: 260px;
    }

    .contact-title{
        font-size: 20px;
        text-align: center;
        text-transform:uppercase;
        color: $white;
    }

    .contact-paragraph{
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        width: 60%;
        color: $white;
        margin-right:22%;
        margin-bottom: 100px;
    }
    /*footer*/
    .nav-footer{
        margin-bottom: 54px;
        margin-left: 50px ;
        text-align: center;
    }
    .nav-menu-footer{
        list-style: none;
        padding-top: 54px;
        margin-top: 0;
    }

    .nav-menu-footer li{
        float: left;
    }
    .nav-menu-footer li + li{
        margin-left: 48px;
    }


    .nav-menu-footer a{
        @include ancores;

    }
    .footer-icon{
        text-align: center;
        margin-top: 34px;
        margin-bottom: 36px;
    }

    .footer-paragraph{
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        color: $white;
        padding-bottom: 42px;
    }

    
}
