@media (max-width:1023px){

    /*HEADER*/
    
    .nav-menu{
        display: none;
    }

    .nav-link{
        padding-right: 20px;
        margin-top: 34px;
        display: block;
        color: #fff;
    }

    /*MAIN*/
    .main-imgs{
        margin-bottom: 49px;
        padding-left:25px;
        margin-left: 5px;
    }
    
    /*Nesting*/
    .main-img-miniature{
        list-style: none;
        
        li{
            float: left;
            margin-right: 15px;
        }
    
        li + li{
            margin-right: 15px;
            margin-bottom: 10px;
        }
    }

    .main-img-description-caribe{
        width: 396px;
        height: 56px;
        background-color: rgba(0, 0, 0, 0.550);
        font-family: "Oleo Script Swash Caps", cursive;
        font-size: 36px;
        text-align: center;
        position: absolute;
        color: $white;
        top:164px;  
    }
    
    .main-img-description-mexico{
        width:396px;
        height: 56px;
        background-color: rgba(0, 0, 0, 0.550);
        font-family: "Oleo Script Swash Caps", cursive;
        font-size: 36px;
        text-align: center;
        position: absolute;
        color: $white;
        left: 490px;
        top: 210px;
    }
    
    .main-img-description-cuba{
        width:396px;
        height: 56px;
        background-color: rgba(0, 0, 0, 0.550);
        font-family: "Oleo Script Swash Caps", cursive;
        font-size: 36px;
        text-align: center;
        position: absolute;
        color: $white;
        top:516px;
    }
    
    
    .plus {
        background-color: rgba(0, 0, 0, 0.550);
        font-family: "Montserrat", sans-serif;
        position: absolute;
        width: 395px;
        height: 47px;
        position: absolute;
        top: 220px;
        font-size: 19px; 
        color:$white;
    }
    
    .plus p {
        margin: 0 auto;
        text-align: center;
        
    }
    /* TEXTO DE LAS IMAGENES DE ABAJO*/
    .main-img-description-caribe-2{
        width: 395px;
        height: 56px;
        background-color: rgba(0, 0, 0, 0.550);
        font-family: "Oleo Script Swash Caps", cursive;
        font-size: 36px;
        text-align: center;
        position: absolute;
        color: $white;
        top:464px;  
    }
    
    .main-img-description-mexico-2{
        width:396px;
        height: 56px;
        background-color: rgba(0, 0, 0, 0.550);
        font-family: "Oleo Script Swash Caps", cursive;
        font-size: 36px;
        text-align: center;
        position: absolute;
        color: $white;
        top: 823px;
    }
    
    .main-img-description-cuba-2{
        width:396px;
        height: 56px;
        background-color: rgba(0, 0, 0, 0.550);
        font-family: "Oleo Script Swash Caps", cursive;
        font-size: 36px;
        text-align: center;
        position: absolute;
        color: $white;
        top: 823px;
    }
    
    .plus-2 {
        background-color: rgba(0, 0, 0, 0.550);
        font-family: "Montserrat", sans-serif;
        position: absolute;
        width: 395px;
        height: 47px;
        position: absolute;
        top: 520px;
        font-size: 19px; 
        color:$white;
    }
    
    .plus-2 p {
        margin: 0 auto;
        text-align: center;
        
    }

    .contact-icon{
        float: left;
        margin-top: 20px;
        margin-left: 400px;
    }
    
    .contact-title{
        font-size: 20px;
        text-align: center;
        text-transform:uppercase;
        color: $white;
    }
    
    .contact-paragraph{
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        width: 60%;
        color: $white;
        margin-right:20%;
        margin-bottom: 100px;
    }

    .nav-footer{
        margin-bottom: 54px;
        margin-left: 200px ;
        text-align: center;
    }
    .nav-menu-footer{
        list-style: none;
        padding-top: 54px;
        margin-top: 0;
    }
    
    .nav-menu-footer li{
        float: left;
    }
    .nav-menu-footer li + li{
        margin-left: 48px;
    }
    
    
    .nav-menu-footer a{
        @include ancores;
    
    }
    .footer-icon{
        text-align: center;
        margin-top: 34px;
        margin-bottom: 36px;
    }
    
    .footer-paragraph{
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        color: $white;
        padding-bottom: 42px;
    }
    
    .main-img-description-caribe{
        width: 396px;
        height: 56px;
        background-color: rgba(0, 0, 0, 0.550);
        font-family: "Oleo Script Swash Caps", cursive;
        font-size: 36px;
        text-align: center;
        position: absolute;
        color: $white;
        top:164px;  
    }
    
    .main-img-description-mexico{
        width:396px;
        height: 56px;
        background-color: rgba(0, 0, 0, 0.550);
        font-family: "Oleo Script Swash Caps", cursive;
        font-size: 36px;
        text-align: center;
        position: absolute;
        color: $white;
        left: 490px;
        top: 210px;
    }
    
    .main-img-description-cuba{
        width:396px;
        height: 56px;
        background-color: rgba(0, 0, 0, 0.550);
        font-family: "Oleo Script Swash Caps", cursive;
        font-size: 36px;
        text-align: center;
        position: absolute;
        color: $white;
        top:516px;
    }
    
    
    .plus {
        background-color: rgba(0, 0, 0, 0.550);
        font-family: "Montserrat", sans-serif;
        position: absolute;
        width: 395px;
        height: 47px;
        position: absolute;
        top: 220px;
        font-size: 19px; 
        color:$white;
    }
    
    .plus p {
        margin: 0 auto;
        text-align: center;
        
    }
    /* TEXTO DE LAS IMAGENES DE ABAJO*/
    .main-img-description-caribe-2{
        width: 395px;
        height: 56px;
        background-color: rgba(0, 0, 0, 0.550);
        font-family: "Oleo Script Swash Caps", cursive;
        font-size: 36px;
        text-align: center;
        position: absolute;
        color: $white;
        top:464px;  
    }
    
    .main-img-description-mexico-2{
        width:396px;
        height: 56px;
        background-color: rgba(0, 0, 0, 0.550);
        font-family: "Oleo Script Swash Caps", cursive;
        font-size: 36px;
        text-align: center;
        position: absolute;
        color: $white;
        top: 823px;
    }
    
    .main-img-description-cuba-2{
        width:396px;
        height: 56px;
        background-color: rgba(0, 0, 0, 0.550);
        font-family: "Oleo Script Swash Caps", cursive;
        font-size: 36px;
        text-align: center;
        position: absolute;
        color: $white;
        top: 823px;
    }
    
    .plus-2 {
        background-color: rgba(0, 0, 0, 0.550);
        font-family: "Montserrat", sans-serif;
        position: absolute;
        width: 395px;
        height: 47px;
        position: absolute;
        top: 520px;
        font-size: 19px; 
        color:$white;
    }
    
    .plus-2 p {
        margin: 0 auto;
        text-align: center;
        
    }
}



