@media (max-width:1023px){

    /*HEADER*/
    
    .nav-menu{
        display: none;
    }

    .nav-link{
        text-align: right;
        margin-top: 45px;
        display: block;
        color: #fff;
    }

    /*MAIN*/
    .main-imgs{
        margin-bottom: 49px;
        padding-left:10px;
        margin-left: 5px;
    }
    
    /*Nesting*/
    .main-img-miniature{
        list-style: none;
        
        li{
            float: left;
            margin-right: 15px;
        }
    
        li + li{
            margin-right: 15px;
            margin-bottom: 10px;
        }
    }

    .contact-icon{
        float: left;
        margin-top: 20px;
        margin-left: 380px;
    }
    
    .contact-title{
        font-size: 20px;
        text-align: center;
        text-transform:uppercase;
        color: $white;
    }
    
    .contact-paragraph{
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        width: 60%;
        color: $white;
        margin-right:22%;
        margin-bottom: 100px;
    }

    .nav-footer{
        margin-bottom: 54px;
        margin-left: 200px ;
        text-align: center;
    }
    .nav-menu-footer{
        list-style: none;
        padding-top: 54px;
        margin-top: 0;
    }
    
    .nav-menu-footer li{
        float: left;
    }
    .nav-menu-footer li + li{
        margin-left: 48px;
    }
    
    
    .nav-menu-footer a{
        @include ancores;
    
    }
    .footer-icon{
        text-align: center;
        margin-top: 34px;
        margin-bottom: 36px;
    }
    
    .footer-paragraph{
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        color: $white;
        padding-bottom: 42px;
    }
    
    
}



