.contact{
    width: 100%;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
}

.contact-icon{
    float: left;
    margin-top: 265px;
    margin-left: 273px;
}

.contact-paragraph{
    float: right;
    width: 548px;
    color: $white;
    margin-right: 144px;
    margin-top: 139px;
}