@import'../config/_mixin';


.footer {
    width: 100%;
    background-color: $footer-color;
}

.nav-footer{
    margin-bottom: 54px;
    margin-left: 350px ;
    text-align: center;
}
.nav-menu-footer{
    list-style: none;
    padding-top: 54px;
    margin-top: 0;
}

.nav-menu-footer li{
    float: left;
}
.nav-menu-footer li + li{
    margin-left: 48px;
}


.nav-menu-footer a{
    @include ancores;

}
.footer-icon{
    text-align: center;
    margin-top: 34px;
    margin-bottom: 36px;
}

.footer-paragraph{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: $white;
    padding-bottom: 42px;
}
