@import'../config/mixin';


/*footer*/
.footer {
    width: 100%;
    background-color: $footer-color;
}

.nav-footer{
    margin-bottom: 54px;
    margin-left: 350px ;
    text-align: center;
}
/* NESTING */
.nav-menu-footer{
    list-style: none;
    padding-top: 54px;
    margin-top: 0;


    li{
        float: left;
    }
    li + li{
        margin-left: 48px;
    }


    a{
        @include ancores;

    }

}
.footer-icon{
    text-align: center;
    margin-top: 34px;
    margin-bottom: 36px;
}

.footer-paragraph{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: $white;
    padding-bottom: 42px;
}
