@import'../config/_settings';
/*HEADER*/

.header{
    background-color: $header-color;
    width: 100%;
}
/*NESTING*/
.icon{
    margin-top: 37px;
    margin-bottom: 26px;
    margin-left: 95px;
    float: left;

    img{
        max-width: 100%;
        width: 50%;
        height: 50%;
        margin-left: 6%;
        margin-top: 2%;
    }

}

.nav{
    float:right;
    margin-left: 20px ;
    
}

/*NESTING*/
.nav-menu{
    list-style: none;
    margin-top: 44px;
    margin-right:38px;


    li{
        float: left;
    }
    li + li{
        margin-left: 46px;
    }
/*MIXIN*/
    a{
        @include ancores;
    }
}


.nav-link{
    display: none;
}
/*NESTING*/
.nav-slider{
    margin-bottom: 67px;

    img{
        width: 100%;
        height: 100%;
    }

}