@import'../config/_settings';
/*HEADER*/

.header{
    width: 100%;
    background-color: $header-color;
}
/*NESTING*/
.icon{
    padding-top: 2.569%;
    padding-bottom: 1.805%;
    padding-left: 6.597%;
    float: left;

    img{
        max-width: 100%;
        width: 50%;
        height: 50%;
        padding-left: 6%;
        padding-top: 2%;
    }

}

.nav{
    float:right;
    margin-left: 1.388% ;
    
}

/*NESTING*/
.nav-menu{
    list-style: none;
    margin-top: 44px;
    margin-right:38px;


    li{
        float: left;
    }
    li + li{
        margin-left: 46px;
    }
/*MIXIN*/
    a{
        @include ancores;
    }
}


.nav-link{
    display: none;
}
/*NESTING*/
.nav-slider{
    margin-bottom: 4.652%;

    img{
        width: 100%;
        height: 100%;
    }

}