@import'../config/_settings';

/*MAIN*/
.main{
    width: 100%;
}

.main-title{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: $title-color;
    margin-bottom: 54px;
}

.main-imgs{
    margin-bottom: 49px;
    padding-left:10px;
    padding-left: 5px;
}

.main-imgs img{
    max-width: 100%;
    max-height: 100%;
}

/*Nesting*/
.main-img-miniature{
    list-style: none;
    
    li{
        float: left;
        padding-left: 15px;
    }

    li + li{
        padding-left: 15px;
        padding-bottom: 20px;
    }
}