@import'../config/_settings';

/*MAIN*/
.main{
    width: 100%;
}

.main-title{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: $title-color;
    margin-bottom: 3.75%;
}

.main-imgs{
    margin-bottom: 3.402%;
    padding-left:5px;
    
    img{
        max-width: 100%;
        max-height: 100%;
    }
}


/*Nesting*/
.main-img-miniature{
    list-style: none;
    position: relative;
    
    li{
        float: left;
        padding-left: 2.083%;
    }

    li + li{
        padding-left: 2.083%;
        padding-bottom: 2.777%;
    }
}

/* TEXTO DE LAS IMAGENES DE ARRIBA*/
.main-img-description-caribe{
    @include main-destinos;
    top:164px;  
}

.main-img-description-mexico{
    @include main-destinos;
    top: 210px;
}

.main-img-description-cuba{
    @include main-destinos;
    top: 210px;
}

/*NESTING*/
.plus {
    @include mas-info;
    top: 220px;
    

    p {
        @include paragraph;
        
    }
}
/* TEXTO DE LAS IMAGENES DE ABAJO*/
.main-img-description-caribe-2{
    @include main-destinos;
    top:469px;  
}

.main-img-description-mexico-2{
    @include main-destinos;
    top: 520px;
}

.main-img-description-cuba-2{
    @include main-destinos;
    top: 520px;
}
/*NESTING*/
.plus-2 {
    @include mas-info;
    top: 525px;

    p {
        @include paragraph;
        
    }
}
