@import'../config/settings';

body{
    margin: 0;
    font-family: $font;
}

.wrapper{
    max-width: 100%;
    width: 1440px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table; 
}

